{% extends "base_generic.html" %}
{% load querystring from django_tables2 %}
{% block container %}
{% load i18n %}

{% if messages %}
<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} id="message_container" class="alert alert-danger"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

{% load render_table from django_tables2 %}
<!doctype html>
<html>
<head>
<title>{%  trans 'Devices table'  %}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    {% render_table table %}
</body>
</html>

<a href = "{% querystring '_export'='csv'  %}"> {%  trans 'Download CSV'  %}</a>

{% endblock %}

{% block custom_js %}
<script>
var message_ele = document.getElementById("message_container");

setTimeout(function(){
   message_ele.style.display = "none";
}, 3000);

</script>

{% endblock %}